
.footer{
	padding: 15px 25px;
	.container-fluid{
		display: flex;
		justify-content: space-between;
		@media #{$max_md} {
			flex-direction: column;
			text-align: center;
		}
	}

	aside{
		span{
			display: inline-block;
			&:first-child{
				padding-right:15px;
				margin-right: 15px;
				border-right: 1px solid $color-ci;

			}
		}
	}
	
}