.form-login{
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	background:#f3f4f5;
	padding:0 25px;
	overflow: hidden;
	
	.logo-login{
		width: 100%;
		margin-bottom: 15px;
		img{
			@media #{$max_sm} {
				max-width: 150px;
			}
		}
	}
	form{
		max-width: 420px;
		width: 100%;
		padding: 20px;
	}
	label{
		margin-bottom: 3px;
	}
	.form-group{
		margin-bottom: 20px;
	}
	

	.btn-detail{
		display: block;
		background:#000;
		color: #fff;
		width: 100%;
		text-transform: capitalize;
		height: 32px;
		border-radius: 4px;
	}

	.box-inner-form{
		padding: 30px;
	}
	.was-validated {
		.form-control{
			&:valid{
				background: #fff;
			}
			&:invalid{
				background: #fff;
			}
		}
	}

	.inputPassword{
		padding-right: 35px;
	}
}






