.g-pass:not(.not-as) {
    position: absolute;
    top: .8rem;
    right: 1.5rem;
    z-index: 9;
    display: block;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    pointer-events: all;
}

.account{
	@media #{$max_lg} {
		.account-nav-g,.create-account{
			border-top: 1px solid #ccc;
			margin-top: 30px;
			padding-top: 30px;
		}
	}
	.account-nav{
		margin-left: 20px;
		margin-bottom: 30px;
		li{
			margin-bottom: 15px;
			a{
				font-size: 13px;
				&:hover{
					color: $color-ci-2;
				}
			}
		}
	}
	.form-control{
		border-radius: 0;
		&:focus{
			border-color: #000;
		}
	}
	label{
		font-size: 12px;
	}
	.forgot{
		font-size: 13px;
		margin-top: 10px;
		display: inline-block;
		color: #acb1b4;
		font-weight: 500;
		&:hover{
			color: #000;
			text-decoration: underline!important;
		}
	}
	h1 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		display: flex;
		align-items: flex-end;
		@media #{$max_lg} {
			flex-direction: column;
			align-items: flex-start;
		}
		small{
			font-size: 17px;
			text-transform: capitalize;
			padding-left: 15px;
			margin-left: 15px;
			border-left: 1px solid #ccc;
			font-weight: 500;
			margin-right: auto;
			@media #{$max_lg} {
				padding-left: 0;
				margin-left: 0;
				border-left: 0;
				margin-bottom: 20px;
				margin-top: 5px;
			}
		}
		.small-text{
			color: $color-ci;
			.icon-svg{
				width: 16px;
				height: 16px;
				margin-left: 5px;
				fill: $color-ci;
			}
		}
	}
	.quick-list{
		margin-top: 25px;
		padding-left: 25px;
		border-left: 1px solid #ccc;
		li{
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		a{
			display: block;
			text-transform: uppercase;
			position: relative;
			color: #000;
			font-size: 13px;
			i{
				font-size: 18px;
				position: absolute;
				right: 0;
			}
		}
	}
}

input.form-control,select.form-control{
	font-size: 13px;
	color: #000;
	border-radius: 0;
	height: 40px;
}
.with-errors{
	color: #961b1e;
	font-size: 11px;
	font-style: italic;
	ul{
		margin-bottom: 0;
	}
}
.popup-content{
	width: 100%;
	max-width: 600px;
	display: none;
	p{
		color: #acb1b4;
	}
	label,p{
		font-size: 12px;
	}
	@media #{$max_sm} {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.list-address{
	li{
		padding: 20px;
		border: 1px solid #e3e3e3;
		box-shadow: 3px 3px 2px rgba(0,0,0,.15);
		display: flex;
		margin-bottom: 30px;
		@media #{$max_lg} {
			flex-direction: column;
		}
		.address-detail{
			margin-right: auto;
			min-width: 600px;
			@media #{$max_lg} {
				aside{
					margin-top: 20px;
				}
			}
		}
		aside a{
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			color: #000;
			&:last-child{
				display: inline-block;
				margin-left: 10px;
				padding-left: 10px;
				border-left:1px solid #ccc;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}

.cart-table.history-table{
	border: 0;
	li{
		padding: 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-width: 0 0 1px 0;
		.custom-mycart{
			display: block;
		}
	}
	.select-custom {
		margin: 25px 0;
		label{
			font-weight: 400;
		}
	}
	.cart-price{
		right: 0;
		margin-top: 0;
	}
	.stat-delevered{
		font-size: 13px;
		padding: 5px 15px;
		background: #000;
		color: #fff;
		border-radius: 15px;
	}
}